
    <h1> WELCOME TO 99 CATS!</h1>
    <p>
      We are pleased to inform you that your registration was successful.
    </p>
    <p>
      Your username is <%= @user_name %>. You may login at <%= @login_url %>.
      Have a wonderful time! Thanks.
    </p>
