<%= stylesheet_link_tag "sign_out_in_banner" %>

<section id="sign_out_in_banner">
  <% if logged_in? %>
    <ul>
      <li>
        <%= button_to "Log out", session_url, method: :delete %>
      </li>
    </ul>
  <% else %>
    <ul>
      <li>
          <%= button_to "Sign in", new_session_url, method: :get,
            class: "red_button"%>
      </li>
      <li>
          <%= button_to "Sign up", new_user_url, method: :get,
            class: "red_button"%>
      </li>
    </ul>
  <% end %>
</section>
