<section class="masthead">
  <ul class="masthead-links">
      <li>
        <a >Tuesday, October 18, 2016</a>
      </li>
      <li>
        <i class="fa fa-newspaper-o"></i>
        <a class="nav_link">Today’s Paper</a>
      </li>
      <li>
        <i class="fa fa-video-camera"></i>
        <a class="nav_link">Video</a>
      </li>
      <li>
        <button class="gray-button">
          77°F
        </button>
      </li>
      <li>
        <button class="gray-button">
          AAO +100%
        </button>
      </li>
    </ul>

  <div class="logo">
    <img src="assets/AA_Times_Logo.png">
  </div>
  <nav class ="language-nav">
    <ul>
      <li><a class="nav_link">CSS</a></li>
      <li><a class="nav_link">HTML</a></li>
      <li><a class="nav_link">Javascript</a></li>
      <li><a class="nav_link">Ruby</a></li>
    </ul>
  </nav>

</section>
