<ul class="sections_list">
  <li><a class="section_link">World</a></li>
  <li><a class="section_link">San Francisco</a></li>
  <li><a class="section_link">New York</a></li>
  <li><a class="section_link">Bootcamp Prep</a></li>
  <li><a class="section_link">Jumpstart</a></li>
  <li><a class="section_link">Online</a></li>
  <li><a class="section_link">Marketing</a></li>
  <li><a class="section_link">Sales</a></li>
  <li><a class="section_link">TalentMatch</a></li>
  <li><a class="section_link">Alumni</a></li>
  <li><a id="all_link">All</a></li>
</ul>
