Sign Up
<form action="<%= users_url  %>" method="POST">
  <%= auth_token %>
  <label>username
    <input type="text" name="user[username]">
  </label>
  <label>password
    <input type="text" name="user[password]">
  </label>
  <input type="submit" value="Sign Up">
</form>
